
#light {
    background-color: #fff;
    color: #06152D;
}

#dark {
    background-color: #06152D;
    color: #AECDFF;
}

.my-bread-crumb {
    color: #6B8CC2;
}

.bread-crumb-current {
    font-weight: 600;
}

.login-signup {
    background: url("../public/images/login-signup-bg.png");
}

.no-break {
    white-space: nowrap;
}

.text-overflow {
    display: block; /* or inline-block */
    white-space: nowrap; /* Keeps the text on a single line */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis when text overflows */
    /* max-width: 100%; */
}

/* .mantine-PasswordInput-input {
    background: #06152D;
} */

